.recipe-section .steps {
    text-align: left;
}

.link-container {
    text-align: center;
    size: 24px;
    font-family: 'Courier New', 'Lucida Console', 'Monaco';
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.recipe-section {
    text-align: center;
    font-family: 'Courier New', 'Lucida Console', 'Monaco';
}

h1 {
    text-align: center;
    font-family: 'Courier New', 'Lucida Console', 'Monaco';
}

ul {
    list-style: none;
}

